<div class="accordion" data-demo-set-links="true" data-options=' "allowOnePane": false '>
  <div class="accordion-header hide-focus has-chevron" id="header-one">
    <a aria-haspopup="true" data-automation-id="accordion-a-header-one" href="#" id="warehouse-location" role="button">
      <span>
        Warehouse Location
      </span>
    </a>
    <button class="btn hide-focus" data-automation-id="accordion-btn-warehouse-location" id="personal-expander">
      <svg aria-hidden="true" class="chevron icon" focusable="false" role="presentation">
        <use href="#icon-caret-down">
        </use>
      </svg>
      <span class="audible">
        Expand
      </span>
    </button>
  </div>
  <div class="accordion-pane" style="height: 0px">
    <div class="accordion-content">
      <p>
        Remix, optimize, "B2B, iterate?" Best-of-breed efficient beta-test; social cutting-edge: rich magnetic
        tagclouds front-end infomediaries viral authentic incentivize sexy extensible functionalities
        incentivize. Generate killer authentic grow vertical blogospheres, functionalities ecologies harness,
        "tag solutions synergies exploit data-driven B2C open-source e-markets optimize create, enhance
        convergence create." Out-of-the-box strategize best-of-breed back-end, deploy design markets metrics.
        Content web services enhance leading-edge Cluetrain, deliverables dot-com scalable. User-centric morph,
        back-end, synthesize mesh, frictionless, exploit next-generation tag portals, e-commerce channels;
        integrate; recontextualize distributed revolutionize innovative eyeballs.
      </p>
    </div>
  </div>
  <div class="accordion-header hide-focus has-chevron" id="header-two">
    <a aria-haspopup="true" data-automation-id="accordion-a-sort-by" href="#" id="sort-by" role="button">
      <span>
        Sort By
      </span>
    </a>
    <button class="btn hide-focus" data-automation-id="accordion-btn-sort-by" id="sort-by-expander">
      <svg aria-hidden="true" class="chevron icon" focusable="false" role="presentation">
        <use href="#icon-caret-down">
        </use>
      </svg>
      <span class="audible">
        Expand
      </span>
    </button>
  </div>
  <div class="accordion-pane" style="height: 0px">
    <div class="accordion-content">
      <div class="radio-group">
        <input class="radio hide-focus" id="sort-recent" name="sort" type="radio" value="recent" />
        <label class="radio-label" for="sort-recent">
          Recently Added
        </label>
        <br />
        <input checked="true" class="radio hide-focus" id="sort-price-low-high" name="sort" type="radio"
          value="price-low-high" />
        <label class="radio-label" for="sort-price-low-high">
          Price: Low – High
        </label>
        <br />
        <input class="radio hide-focus" id="sort-price-high-low" name="sort" type="radio" value="price-high-low" />
        <label class="radio-label" for="sort-price-high-low">
          Price: High – Low
        </label>
        <br />
        <input class="radio hide-focus" id="sort-alphabetical" name="sort" type="radio" value="alphabetical" />
        <label class="radio-label" for="sort-alphabetical">
          Alphabetical
        </label>
        <br />
        <input class="radio hide-focus" id="sort-stock" name="sort" type="radio" value="stock" />
        <label class="radio-label" for="sort-stock">
          In Stock
        </label>
        <br />
      </div>
    </div>
  </div>
  <div class="accordion-header hide-focus has-chevron" id="header-three">
    <a aria-haspopup="true" data-automation-id="accordion-a-brand-name" href="#" id="brand-name" role="button">
      <span>
        Brand Name
      </span>
    </a>
    <button class="btn hide-focus" data-automation-id="accordion-btn-brand-name" id="brand-name-expander">
      <svg aria-hidden="true" class="chevron icon" focusable="false" role="presentation">
        <use href="#icon-caret-down">
        </use>
      </svg>
      <span class="audible">
        Expand
      </span>
    </button>
  </div>
  <div class="accordion-pane" style="height: 0px">
    <div class="accordion-content">
      <p>
        Revolutionize implement infrastructures social front-end, world-class bricks-and-clicks extensible
        recontextualize? User-contributed e-business relationships widgets bleeding-edge transform, "viral
        world-class, unleash sexy embrace cross-media best-of-breed wireless, functionalities." Markets,
        "transition architectures, redefine infomediaries world-class back-end harness, mindshare blogospheres;
        schemas disintermediate rich," benchmark integrated markets blogging synergies dynamic social back-end
        convergence. Reinvent A-list A-list B2C rss-capable, mesh bandwidth mission-critical disintermediate
        strategize networks distributed integrated bleeding-edge rss-capable partnerships incubate, web-enabled
        e-markets. A-list channels enhance citizen-media, value solutions beta-test platforms enable interfaces,
        transition interfaces one-to-one expedite scalable.
      </p>
    </div>
  </div>
  <div class="accordion-header hide-focus has-chevron" id="header-four">
    <a aria-haspopup="true" data-automation-id="accordion-a-material" href="#" id="material" role="button">
      <span>
        Material
      </span>
    </a>
    <button class="btn hide-focus" data-automation-id="accordion-btn-material" id="material-expander">
      <svg aria-hidden="true" class="chevron icon" focusable="false" role="presentation">
        <use href="#icon-caret-down">
        </use>
      </svg>
      <span class="audible">
        Expand
      </span>
    </button>
  </div>
  <div class="accordion-pane" style="height: 0px">
    <div class="accordion-content">
      <p>
        Revolutionize implement infrastructures social front-end, world-class bricks-and-clicks extensible
        recontextualize? User-contributed e-business relationships widgets bleeding-edge transform, "viral
        world-class, unleash sexy embrace cross-media best-of-breed wireless, functionalities." Markets,
        "transition architectures, redefine infomediaries world-class back-end harness, mindshare blogospheres;
        schemas disintermediate rich," benchmark integrated markets blogging synergies dynamic social back-end
        convergence. Reinvent A-list A-list B2C rss-capable, mesh bandwidth mission-critical disintermediate
        strategize networks distributed integrated bleeding-edge rss-capable partnerships incubate, web-enabled
        e-markets. A-list channels enhance citizen-media, value solutions beta-test platforms enable interfaces,
        transition interfaces one-to-one expedite scalable.
      </p>
    </div>
  </div>
</div>